<h1>DungBeetle Dashboard</h1>
<a href="/dungbeetles/new"><button>New DungBeetle</button></a>
<table>
    <tr>
        <th>Name</th>
        <th>Hexcolor</th>
        <th>Birthday</th>
        <th>Last Updated</th>
        <th>Dung Ball Radius</th>
    </tr>
    <% for(var i = 0; i < dungbeetles.length; i++) { %>
        <tr style="color: <%=dungbeetles[i].hexcolor %>;">
            <td>
                <a href="/dungbeetles/<%=dungbeetles[i]._id %>"><%=dungbeetles[i].name %></a>
                
            </td>
            <td>
                <%=dungbeetles[i].hexcolor %>
            </td>
            <td>
                <%=moment(dungbeetles[i].birthday).calendar() %>
            </td>
            <td>
                <%=moment(dungbeetles[i].updated_at).calendar() %>
            </td>
            <td>
                <%=dungbeetles[i].dungsphereradius %>
            </td>
        </tr>
        <% } %>
</table>